.wrapper {
  position: relative;
  background: url('./about.jpg') center center/cover;
  padding: 3rem 3rem 5rem;
}

.wrapper:before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  background-color: rgba(0,0,0,.4)
}

.content {
  max-width: 960px;
  margin: 0 auto;

  position: relative;

  color: #fff;

  z-index: 10;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.para {
  margin-top: 1rem;
}

@media (min-width: 561px) {
  .content {
    max-width: 50%;
    margin-left: 0;
    padding: 0 15px;
  }
}
