.wrapper {
  position: relative;
  background: url('./about.jpg') center center/cover;
  padding: 1rem 1rem 2rem;
}

.wrapper:before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  background-color: rgba(0,0,0,.4)
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.content {
  max-width: 500px;
  margin: 0 auto;

  position: relative;

  color: #fff;

  z-index: 10;
}

.title {
  position: relative;

  display: inline-block;

  font-size: 2rem;
  font-weight: 500;

  &:before {
    content: '';

    position: absolute;
    bottom: 15px;
    left: 8px;

    width: 100%;
    height: 3px;

    background-color: #fff;

    opacity: .3;
  }
}

.para {
  margin-top: 2rem;
  font-size: 18px;
}

@media (min-width: 561px) {
  .wrapper {
    padding: 3rem 3rem 5rem;
  }

  .content {
    margin-left: 0;
  }
}
